<%= form_with(model: winner, local: true) do |form| %>
  <% if winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winner.errors.count, "error") %> prohibited this winner from being saved:</h2>

      <ul>
      <% winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :winner_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :winner_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :winner_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
